body {
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#111111;
}

.top-border {
    height: 50px;
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
    font-weight:340;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 25px;
}

.big {
    position: relative;
    top: 100px;
    left: 80px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}

.gfImage {
    width: 500px;
    position: relative;
    top: 120px;
    left: 920px;
    border-radius: 100px;
    display:block;
    margin-bottom: 100px;
}

.familyImage {
    width: 500px;
    position: relative;
    top: 30px;
    left: 920px;
    border-radius: 100px;
}

.bio {
    position: relative;
    font-size: 25px;
    left: 100px;
    bottom: 630px;
    margin-right: 750px;
}
