body {
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-border {
    height: 50px;
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
    font-weight:340;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 25px;
}

.big {
    padding: 50px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}