* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.topHeader {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 20px;
}

.boldIntro {
    margin-top: 10px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio {
    margin: auto;
    margin-top: 5px;;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    font-weight: lighter;
    font-size: 15px;
}

.gfImage, .familyImage {
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;;
    max-width: 300px;
    transition: 0.2s;
}

.gfImage:hover, .familyImage:hover {
    max-width: 320px;;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 80px;
}

.githubIcon, .instIcon, .linkedinIcon {
    margin: 5px;
    color: #1a1a1a;
    transition: 0.2s;
}

.githubIcon:hover, .instIcon:hover, .linkedinIcon:hover {
    color: #606060;
    font-size: 82px;
}

@media (min-width: 1500px) {
    
}